/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  max-height: 1005px;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
}

.nav-item a.featured {
  color: rgb(243, 0, 231) !important;
  font-weight: bold !important;
}

img[src*="display=fullwidth"] {
  max-width: 764px !important;
  width: 100%;
  display: block !important;
  clear: both;
  margin-top:20px;
}
.link-light {
  color: #fbfbfb !important;
}

body {
  /* The image used */
  background-image: url('/assets/img/layout/bg.png');

  /* Set a specific height */
  /* height: auto !important; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-dark {
  background-color: #101010!important;
}
.main-content {
  background-color: #303030;
}

#intro {
  z-index:1;

}